asn1crypto==0.24.0
autopep8==1.4.3
beautifulsoup4==4.6.3
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
conda==4.5.11
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.1
docopt==0.6.2
EditorConfig==0.12.2
geographiclib==1.49
geopy==1.17.0
icdiff==1.9.1
idna==2.7
intel-openmp==2019.0
jsbeautifier==1.8.8
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==3.0.2
menuinst==1.4.14
mkl==2019.0
mkl-fft==1.0.10
mkl-random==1.0.2
numpy==1.15.4
pandas==0.23.4
pipreqs==0.4.9
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.7
pywin32==224
requests==2.20.1
ruamel-yaml==0.15.71
scikit-learn==0.20.1
scipy==1.1.0
Shapely==1.6.2
six==1.11.0
style50==2.6.2
termcolor==1.1.0
tornado==5.1.1
urllib3==1.23
win-inet-pton==1.0.1
wincertstore==0.2
yarg==0.1.9
